
@{
    ViewBag.Title = "Index";
}

<h2>Ajustes</h2>
<a>Seleccione una opcion para continuar:</a>
<br />
@Html.ActionLink("Ajustes de Perfil", "UserPreferences", "Home")
<br />
@Html.ActionLink("Preferencias de Vuelo", "FlightPreferences", "Home")
