@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">¡Bienvenido!</h1>
        <p class="lead">Para iniciar, seleccione alguna de las opciones que se encuentran en la barra de navegacion.</p>
    </section>

    <hr />

    <p>
        UNIVERSIDAD ESTATAL A DISTANCIA <br />
        ESCUELA CIENCIAS EXACTAS Y NATURALES <br />
        PROGRAMA DE INFORMÁTICA <br />
        CÁTEDRA DESARROLLO DE SOFTWARE <br />
        <br />
        Proyecto 1 <br />
        Web de Reserva de Vuelos<br />
        <br />
        Nombre del Curso: Programacion Avanzada Web<br />
        Grupo No. 01<br />
        Nombre del Tutor: Roberth Brunner Aguero<br />
        <br />
        Nombre Completo: Chaves Sandoval Dayron Antony<br />
        Número de cédula: 3-524-018<br />
        <br />
        Centro Universitario de Turrialba<br />
        <br />
        22 de Julio<br />
        II CUATRIMESTRE 2024<br />
    </p>
</main>